<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="libvirt-0.dll">
		<dllentry os="windows" dll="libvirt-0.dll" />
		<dllentry os="linux" dll="libvirt.so.0" />
	</dllmap>
	<dllmap dll="msvcrt.dll">
		<dllentry os="windows" dll="msvcrt.dll" name="_strdup" target="_strdup" />
		<dllentry os="linux" dll="libc.so.6" name="_strdup" target="strdup" />
	</dllmap>
</configuration>
